{% extends './index.html'%}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
{% endblock css %}
{% block in_content %}

<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-1000">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3>Cartilla de mascota</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="Nmicrochip">N° de Microchip</label>
                        <input type="text" class="form-control" id="Nmicrochip" name="Nmicrochip"
                            placeholder="N° de Microchip">
                    </div>
                    <button class="btn btn-primary">Buscar</button>

                    <div class="form-group">
                        <label for="Antiparasitario">Antiparasitario</label>
                        <input type="text" class="form-control" id="Ant" name="Ant" placeholder="Antiparasitario">
                    </div>
                    <div class="form-group">
                        <label for="Observaciones">Observaciones</label>
                        <textarea class="form-control" id="Obs" name="Obs" cols="60" rows="5"
                            placeholder="Observaciones"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="FechaProxima">Fecha de proxima visita</label>
                        <input type="date" class="form-control" id="FechaProxima" name="FechaProxima"
                            placeholder="Fecha de proxima visita">
                    </div>

                    <button class="btn btn-primary">Guardar</button>
                    <button class="btn btn-primary">Cancelar</button>



                </div>

                <table>
                    <thead>
                        <tr>
                            <th>N° de Microchip</th>
                            <th>Fecha</th>
                            <th>Edad</th>
                            <th>Peso</th>
                            <th>Antiparasitario</th>
                            <th>Observaciones</th>
                            <th>Fecha proxima visita</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01010101110</td>
                            <td>01/01/2000</td>
                            <td>2</td>
                            <td>33 kg</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {% endblock in_content %}