{% extends './base_index.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
<link rel="stylesheet" href="{% static 'core/css/styleTabla.css' %}">
{% endblock css %}
{% block in_content %}

<div class="container mt-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3>Atenciones</h3>
                </div>
                <div class="card-body">
                        <div class="form-group mt-2">
                            <label for="nomMascota">Nombre de la mascota</label>
                            <input type="text" class="form-control" id="nomMascota" name="nomMascota" placeholder="Nombre de la mascota">
                        </div>
                        <div class="form-group mt-2">
                            <small>Fecha de atencion (formato 01/01/1999)</small>
                        </div>
                    
                        <div class="form-group mt-2 row">
                            <div class="form-group col-md-3">
                                <label for="peso">Dia</label>
                                <input type="number" min="0" max="99" class="form-control" id="peso" name="peso" placeholder="Dia*">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Tipo">Mes</label>
                                <input type="number" min="0" max="99" class="form-control" id="peso" name="peso" placeholder="Mes*">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Tipo">Año</label>
                                <input type="number" min="0" max="99" class="form-control" id="peso" name="peso" placeholder="Año*">    
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <label for="nomVet">Nombre del veterinario</label>
                            <input type="text" class="form-control" id="nomVet" name="nomVet" placeholder="Nombre del veterinario">
                        </div>

                        <div class="form-group mt-2">
                            <label for="desc">Descipcion</label>
                            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
                        </div>

                        <a class="btn btn-primary mt-3 px-5" href="{% url 'gestionar_atenciones' %}"> Guardar</a>
                        <a class="btn btn-danger mt-3 px-5" href="{% url 'gestionar_atenciones' %}"> Cancelar</a>
                </div>
            </div>
        </div>
    </div>          
</div>

{% endblock %}