{% extends './base_index.html' %}

{% block in_content %}

<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <center>
                <h3 class="card-title">Bienvenido usuario secretaria</h3>
            </center>
        </div>
        <div class="div card-body">
            <div class="row">
                <div class="col mb-3">
                    <div class="row row-cols-2">
                        <div class="col-12">
                            <div class="card">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h1 class="m-0 font-weight-bold">Mis atenciones</h1>
                                    <a name="btnView" class="btn btn-primary btn-sm">Ver todos</a>
                                </div>
                                <div class="card-body">
                                    <ul class="navbar-nav">
                                        <li class="nav-item mb-2">
                                            <a href="#">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="float-end">
                                                            Pospuesta
                                                        </h4>
                                                        <h4 class="card-title">
                                                            10/06
                                                        </h4>
                                                        <p class="card-text">
                                                            Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="#">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="float-end">
                                                            Terminada
                                                        </h4>
                                                        <h4 class="card-title">
                                                            6/03
                                                        </h4>
                                                        <p class="card-text">
                                                            Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="#">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="float-end">
                                                            Terminada
                                                        </h4>
                                                        <h4 class="card-title">
                                                            25/01
                                                        </h4>
                                                        <p class="card-text">
                                                            Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">Mis noticias</h1>
                        </div>
                        <div class="card-body">
                            <div class="row overflow-auto" style="max-height: 200px;">
                                <div class="col-12 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Nueva noticia
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, id.
                                            </p>
                                            <a href="#" class="btn btn-primary">Ver</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Nueva noticia
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, id.
                                            </p>
                                            <a href="#" class="btn btn-primary">Ver</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                Nueva noticia
                                            </h4>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, id.
                                            </p>
                                            <a href="#" class="btn btn-primary">Ver</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



{% endblock in_content %}