{% extends './index.html' %}
{% load static %}

{% block in_content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table">

                        </div>

                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui assumenda voluptatem alias
                            ratione ullam sapiente a. Quam fuga cumque illo eos, modi consequatur eveniet rem sunt.
                            Expedita, debitis ad provident iste, necessitatibus doloribus perferendis culpa, nisi
                            deserunt nostrum velit labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock in_content %}