{% extends './base_index.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
<link rel="stylesheet" href="{% static 'core/css/styleTabla.css' %}">
{% endblock css %}
{% block in_content %}

<div class="container mt-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Publicar paseos
                    </h4>
                </div>
                <div class="card-body">

                    <center><table class="contenido-tabla "><center></center>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>nombre del dueño</th>
                                    <th>nombre de la mascota</th>
                                    <th>fecha del paseo</th>
                                    <th>hora inicio</th>
                                    <th>hora fin</th>
                                    <th/>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    <td>
                                    <td>
                                    <td>
                                    <td>
                                    <td>
                                </tr>

                                <tr>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>

                        </table>
                            <a class="btn btn-primary px5" href="{% url 'paseos'%}">Publicar nuevo paseo</a>

                            <a class="btn btn-primary px5" href="{% url 'pub_ruta' %}">Publicar ruta</a>

                            <a class="btn btn-danger px5" href="{% url 'cli_index' %}">Cancelar</a>
                    
                    </div>
                </div>


</div>

{% endblock in_content %}