{% extends './base_index.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
<link rel="stylesheet" href="{% static 'core/css/styleTabla.css' %}">
{% endblock css %}
{% block in_content %}

<div class="container mt-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3>Pedir Atencion</h3>
                </div>
                <div class="card-body">
                        <div class="form-group mt-2">
                            <label for="Direcion">Direccion</label>
                            <input type="text" class="form-control" id="Direcion" name="Direcion" placeholder="Direcion">
                        </div>
                      
                        <div class="from-group mt-2">
                            <label for="Telefono ">Telefono</label>
                            <input type="number" class="form-control" id="Telefono" name="Telefono" placeholder="Telefono">
                        </div>
                      
                        <div class="from-group mt-2">
                            <label for="Nmascota">Nombre de la mascota</label>
                            <input type="text" class="form-control" id="Nmascota" name="Nmascota" placeholder="Nombre de la mascota">
                        </div>

                        <div class="from-group mt-2">
                            <label for="fechaAtencion">Fecha de atencion</label>
                            <input type="date" class="form-control" id="fechaAtencion" name="fechaAtencion" placeholder="Fecha de atencion">
                        </div>

                        <div class="form-group mt-2">
                            <label for="Observaciones">Descripcion</label>
                            <textarea class="form-control" id="Obs" name="Obs" cols="60" rows="5"
                                placeholder="Observaciones"></textarea>
                        </div>


                        <a class="btn btn-primary mt-3 px-5" href="#" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"> Guardar</a>
                        <a class="btn btn-danger mt-3 px-5" href="{% url 'cli_index' %}"> Cancelar</a>
                </div>
            </div>
        </div>
    </div>          
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anuncio</h5>
                {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button> {% endcomment %}
            </div>
            <div class="modal-body">
                <p>Estas seguro?</p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <a href="{% url 'cli_index' %}" class="btn btn-primary">Si</a>
                <a class="btn btn-secondary" href="{% url 'cli_index' %}">No</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}